.venv/
.antigravitycli/
__pycache__/
*.pyc
article/main.aux
article/main.bbl
article/main.blg
article/main.log
article/main.out
article/main.fdb_latexmk
article/main.fls
article/main.pdf
article/main.synctex.gz
article/main_numbered.aux
article/main_numbered.bbl
article/main_numbered.blg
article/main_numbered.log
article/main_numbered.out
article/main_numbered.pdf
article/main_numbered.tex
article/main_numbered.toc
article/.numbered/
article/main_numbered_base.aux
article/main_numbered_base.bbl
article/main_numbered_base.blg
article/main_numbered_base.log
article/main_numbered_base.out
article/main_numbered_base.pdf
article/main_numbered_base.synctex.gz
article/main_numbered_overlay.aux
article/main_numbered_overlay.log
article/main_numbered_overlay.out
article/main_numbered_overlay.pdf
article/main_numbered_overlay.tex
article/main_monolithic.tex
